<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBShB4aBvOufl3dq0xhV0cY0G5sfhpVGqU</string>
	<key>GCM_SENDER_ID</key>
	<string>153415643731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningApp</string>
	<key>PROJECT_ID</key>
	<string>flutterblocappforlearning</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterblocappforlearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153415643731:ios:42648f3d520f15aa3d0ca6</string>
</dict>
</plist>